body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex: 1;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    flex: 1;
    margin-bottom: 1rem;
}

.card-footer {
    background-color: transparent;
    border-top: 0;
    text-align: center;
    padding: 10px;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #545b62;
    border-color: #545b62;
}

.btn-light {
    background-color: #ffffff;
    border-color: #ced4da;
}

.btn-light:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Tambahan Warna untuk Tema Profesional */
.bg-primary {
    background-color: #007bff !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.text-white {
    color: #ffffff !important;
}

.text-dark {
    color: #333333 !important;
}

/* Styling untuk Form Pencarian */
.form-control {
    border-radius: 25px 0 0 25px;
}

.input-group-append .btn {
    border-radius: 0 25px 25px 0;
}

/* Styling untuk Teks Berjalan */
.marquee-container {
    background-color: #e4ecf5;
    border: 1px solid #856f6f;
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
}

marquee {
    color: #333;
    font-size: 1rem;
    white-space: nowrap;
}